{% extends "global/index.html" %}
{% load static %}

{% block css_local %}
<link rel="stylesheet" type="text/css" href="{% static 'contact/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'contact/css/forms.css' %}">
{% endblock css_local %}
{% block content %}
<div class="py-4">
    <div class="card shadow-sm px-5 py-5 border-0 rounded-4">
        <h1 class="mb-4">Novo contato</h1>
        <form action="" method="POST" enctype="multipart/form-data" class="row g-4 ">
            <div class="col-12 col-sm-6 col-lg-6">
                <label for="form_first_name" class="form-label">Nome</label>
                <input type="text" class="form-control focus-ring focus-ring-success border-secondary-subtle"
                    id="form_first_name" placeholder="Digite o nome">
            </div>
            <div class="col-12 col-sm-6 col-lg-6">
                <label for="form_last_name" class="form-label">Sobrenome</label>
                <input type="text" class="form-control focus-ring focus-ring-success border-secondary-subtle"
                    id="form_last_name" placeholder="Digite o sobrenome">
            </div>
            <div class="col-12 col-sm-6 col-lg-6">
                <label for="form_phone" class="form-label">Telefone</label>
                <input type="tel" class="form-control focus-ring focus-ring-success border-secondary-subtle"
                    id="form_phone" placeholder="Digite o número de telefone">
            </div>
            <div class="col-12 col-sm-6 col-lg-6">
                <label for="form_email" class="form-label">E-mail</label>
                <input type="email" class="form-control focus-ring focus-ring-success border-secondary-subtle"
                    id="form_email" placeholder="Digite o endereço de e-mail">
            </div>
            <div class="col-12 col-sm-12 col-lg-12">
                <label for="form_description" class="form-label">Descrição</label>
                <input type="text" class="form-control focus-ring focus-ring-success border-secondary-subtle"
                    id="form_description" placeholder="Digite o que desejar sobre este contato">
            </div>
            <div class="col-12 col-sm-6 col-lg-6">
                <label for="form_picture" class="form-label">Imagem de perfil</label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon3">Procurar</span>
                    <input class="form-control focus-ring focus-ring-success border-secondary-subtle" type="image" id="form_picture">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-6">
                <label for="form_categoria" class="form-label">Categoria</label>
                <select class="form-select focus-ring focus-ring-success border-secondary-subtle" aria-label="Disabled select example" id="form_categoria">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>

            <div class="col-12 col-sm-12 col-lg-12 text-end">
                <button type="submit" class="btn btn-success px-5 py-2 rounded-pill">Cadastrar</button>
            </div>

        </form>
    </div>
</div>
{% endblock content %}